<!--Bottom half of Valuation, including selection form, table and results-->
<template name="ValuationBlock">
    <div class="valuation-block-inner {{themeStyle.main}} {{themeStyle.borderTop}} {{themeStyle.borderBottom}}">
        <div class="valuation-block-results left">
            <div class="valuation-results">
                {{> ValuationResults}}
            </div>
        </div>
        <div class="valuation-block-build left">
            <div class="valuation-build">
                {{> ValuationBuild}}
            </div>
        </div>
    </div>
</template>