<!--Only holds other templates-->
<template name="Football">
        <div class="wrapper" id="football-inner">
            <div id="football-banner">
                {{> FootballBanner}}
            </div>
            <div id="football-range">
                {{> FootballRange}}
            </div>
            <div>
                <div class="wrapper" id="football-content">
                    {{>footballContent}}
                </div>
                <!--<div class="wrapper" id="football-field">-->
                    <!--{{> FootballField}}-->
                <!--</div>-->
                <!--<div class="wrapper" id="football-mobile-gallery">-->
                    <!--{{>GalleryVisualMobile}}-->
                <!--</div>-->
            </div>
        </div>
</template>