<!--Apoears when user is not logged in-->
<template name="Cover">
    <div class="jumbotron" id="cover-inner">
        <div id="cover-text">
            <div>
                Interactive charting for corporate finance valuation and analysis
            </div>
            <div>
                Allows for rapid additions and deletions of valuation measures for scenario testing
            </div>
            <div>
                Ability to maintain a “standing value” with custom inputs and alerts based on pre-defined triggers
            </div>
            <div>
                Contact <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance" target="_top">Brendan Cahill, Founder and CEO</a>
            </div>
        </div>
    </div>
</template>
