<!--Drop-down menu to change Coverage-->
<template name="CoverageMenu">
    <div class="left screen-full">
        <select class="form-control coverage-filter {{themeStyle.formDropdown}}" name="coverage-filter">
            <option disabled>Coverage Type:</option>
            <option class="{{isFootballs}}" id="coverage-footballs" value="footballs">Footballs</option>
            <option class="{{isValuations}}" id="coverage-valuations" value="valuations">Valuations</option>
            <option class="{{isTargets}}" id="coverage-targets" value="targets">Targets</option>
        </select>
    </div>
    <!--<div class="left screen-right">-->
        <!--{{>GalleryCoverageMenuScreen}}-->
    <!--</div>-->
</template>