<!--Additional controls within Coverage-->
<template name="CoverageControls">
    {{#if isTargets}}
        <div>
            {{>GalleryTargetPublicAdd}}
        </div>
    {{/if}}
    {{#if isValuations}}
        <div class="gallery-row button">
            <div class="gallery-row-half button-row-one left">
                {{>GalleryValuationsFootballExpand}}
            </div>
            <div class="gallery-row-half button-row-three left">
                {{>GalleryValuationsFootballNew}}
            </div>
        </div>
    {{/if}}
</template>