<!--Holds controls to add selection and table of valuation selections-->
<!--Build is simple valuation using average/median/high/low valuation and target reference value-->
<template name="ValuationBuild">
    <div class="wrapper valuation-build-inner">
        <div class="left valuation-build-type">
            {{>ValuationBuildType}}
        </div>
        <div class="left valuation-build-select wrapper">
            {{#if isDesktop}}
                {{>valuationBuildAdd}}
            {{/if}}
            {{#if isPhone}}
                {{>valuationBuildAdd}}
            {{/if}}
        </div>
    </div>
    <div>
        {{>valuationBuildTable}}
    </div>
</template>