<!--This template is overlaid on the Football Field Valuations template, with the same dimensions as Valuations.
Since Valuations are wider than what is needed here, I needed to split up into different templates.-->
<template name="FootballFieldArea">
    <div class="wrapper football-field-item">
        <div class="left football-left" id="football-area-detail">
            &nbsp;
        </div>
        <div class="wrapper left football-right">
            <div class="left bar-space">
                &nbsp;
            </div>
            <div class="left wrapper football-field-content">
                <div id="football-area-space">
                    &nbsp;
                </div>
                <div class="wrapper" id="football-area-current">
                    {{>footballCurrent}}
                </div>
                <div class="wrapper" id="football-area-trading">
                    {{>footballTrading}}
                </div>
            </div>
            <div class="left bar-space">
                &nbsp;
            </div>
        </div>
    </div>
</template>