<!--Holds array of Valuations-->
<template name="FootballFieldValuations">
    {{#if isArray}}
        <div id={{valuationsDrag.old}} role="tablist" class="wrapper football-field-item">
            {{#each valuations}}
                <div class="wrapper valuation">
                    {{> Valuation}}
                </div>
            {{/each}}
        </div>
        <div id={{valuationsDrag.new}} class="wrapper">
        </div>
    {{else}}
        <div role="tablist" class="wrapper football-field-item">
            {{#with activeValuation}}
                <div class="wrapper valuation">
                    {{>Valuation}}
                </div>
            {{/with}}
        </div>
    {{/if}}
</template>