<!--Holds array of Valuations-->
<template name="FootballFieldValuations">
    {{#if isDesktop}}
        <div id={{valuationsDrag.old}} role="tablist" class="wrapper football-field-item {{themeStyle.borderBottom}}">
            {{#each valuations}}
                <div class="wrapper valuation">
                    {{> Valuation}}
                </div>
            {{/each}}
        </div>
    {{/if}}
    {{#if isPhone}}
        {{#if isArray}}
            <div id={{valuationsDrag.old}} role="tablist" class="wrapper football-field-item {{themeStyle.borderBottom}}">
                {{#each valuations}}
                    <div class="wrapper valuation">
                        {{> Valuation}}
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div id={{valuationsDrag.old}} role="tablist" class="wrapper football-field-item">
                {{#with activeValuation}}
                    <div class="wrapper valuation">
                        {{>Valuation}}
                    </div>
                {{/with}}
            </div>
        {{/if}}
    {{/if}}
    {{#if isArray}}
        <div id={{valuationsDrag.new}} class="wrapper">
        </div>
    {{/if}}
</template>