<template name="About">
    <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAboutLabel">About Workshop Finance</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5><strong>What is it?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Interactive charting for corporate finance valuation and analysis
                            </li>
                            <li>
                                Allows for rapid additions and deletions of valuation measures for scenario testing
                            </li>
                            <li>
                                Ability to maintain a “standing value” with custom inputs and alerts based on pre-defined triggers
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>What is the Commercial Model?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Free version allows for valuation based on publicly traded comps
                            </li>
                            <li>
                                Premium version allows for  and M&A precedents, custom financials, modeled values, collaboration and alerts
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>What is the Distribution Model?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Stand-alone desktop and mobile applications
                            </li>
                            <li>
                                API to embed capability within third-party platforms and media sites
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>For more information:</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Contact <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance" target="_top">Brendan Cahill, Founder and CEO</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 </template>