<template name="About">
    <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modalAboutLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAboutLabel">About Workshop Finance</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h5><strong>What is it?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Interactive charting for corporate finance valuation and analysis
                            </li>
                            <li>
                                New and innovative way to leverage financial data, without any existing charting libraries
                            </li>
                            <li>
                                Use cases include investment banking, private equity and more
                            </li>
                            <li>
                                Delivery through desktop, mobile apps, and third-party platforms
                            </li>
                            <li>
                                Built on Meteor.js, with Blaze for front-end, and MongoDB
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>What do I need from a technical partner?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Transform prototype into market-ready app (cleanup code, rewrite if necessary)
                            </li>
                            <li>
                                Implement best practices for UI to clean up existing layout
                            </li>
                            <li>
                                Implement best practices for Javascript to improve speed and performance of application, particularly related to financial calculations
                            </li>
                            <li>
                                Connect application to third-party API for financial data
                            </li>
                            <li>
                                Manage hosting and deployment at appropriate time
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>Who am I looking for?</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Full stack developer (HTML / CSS / Javascript), familiar with Meteor.js and D3
                            </li>
                            <li>
                                Experience with third-party APIs for financial data
                            </li>
                            <li>
                                Experience with calculation-heavy applications
                            </li>
                            <li>
                                Experience building for both desktop and Cordova for mobile (please provide examples)
                            </li>
                            <li>
                                Understanding of basic corporate finance is preferred, but not required
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h5><strong>If you are interested:</strong></h5>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Contact <a href="https://www.linkedin.com/in/brendanfcahill/">Brendan Cahill, Founder and CEO</a> at <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance!" target="_top">brendan@workshopfinance.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 </template>