<template name="AboutPortrait">
    <div>
        <div>
            <h5><strong>What is it?</strong></h5>
        </div>
        <div>
            <ul>
                <li>
                    Interactive charting for corporate finance valuation and analysis
                </li>
                <li>
                    New and innovative way to leverage financial data, without any existing charting libraries
                </li>
                <li>
                    Use cases include investment banking, private equity and more
                </li>
                <li>
                    Delivery through desktop, mobile apps, and third-party platforms
                </li>
            </ul>
        </div>
        <div>
            <h5><strong>For more information:</strong></h5>
        </div>
        <div>
            <ul>
                <li>
                    Contact <a href="https://www.linkedin.com/in/brendanfcahill/">Brendan Cahill, Founder and CEO</a> at <a href="mailto:brendan@workshopfinance.com?Subject=Tell me more about Workshop Finance!" target="_top">brendan@workshopfinance.com</a>
                </li>
            </ul>
        </div>
    </div>
 </template>