<!--Controls for active Football Field-->
<template name="GalleryVisual">
    <div class="panel-heading gallery-menu-base" id="gallery-visual-accordion" role="tab" data-toggle="collapse" data-parent="#gallery-menu-inner" href="#gallery-visual-inner" aria-expanded="true" aria-controls="gallery-visual-inner">
        <div class="gallery-title-inner">
            <h5>Football Field Controls</h5>
        </div>
    </div>
    <div class="panel-collapse collapse gallery-block" id="gallery-visual-inner" role="tabpanel">
        {{#with currentFootballId}}
            <div class="{{themeStyle.borderShadedBottom}}" id="controls-details">
                <div id="controls-details-inner">
                    <div class="control-row">
                        <div class="control-half-title left">
                            Target (if any):
                        </div>
                        <div class="control-half-value right">
                            {{targetName}}
                        </div>
                    </div>
                    <div class="control-row">
                        <div class="control-half-title left">
                            Football Name:
                        </div>
                        <div class="control-half-value right">
                            {{footballName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{themeStyle.borderShadedBottom}}" id="controls-top">
                <div id="controls-top-inner wrapper">
                    <div class="control-row wrapper">
                        {{>FootballTarget}}
                    </div>
                </div>
            </div>
            <div class="wrapper" id="controls-scroll">
                <div id="controls-scroll-inner">
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            Change Output Type
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballOutput}}
                        </div>
                    </div>
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            Change Scale
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballScale}}
                        </div>
                    </div>
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            Re-sort Valuations
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballSort}}
                        </div>
                    </div>
                    <!--<div class="wrapper control-row">-->
                        <!--<div class="control-scroll-left left">-->
                            <!--Change Spread-->
                        <!--</div>-->
                        <!--<div class="control-scroll-right right">-->
                            <!--{{>FootballSpread}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            Change Cushion
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballCushion}}
                        </div>
                    </div>
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            Current Trading Level 2
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballCurrentToggle}}
                        </div>
                    </div>
                    <div class="wrapper control-row">
                        <div class="control-scroll-left left">
                            52-Week High/Low
                        </div>
                        <div class="control-scroll-right right">
                            {{>FootballTradingToggle}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-row-last" id="controls-actions">
                <div>
                    {{>FootballActions}}
                </div>
                <div>
                    {{>FootballActionsOption}}
                </div>
            </div>
        {{/with}}
    </div>
</template>

<!--&lt;!&ndash;Controls for active Football Field&ndash;&gt;-->
<!--<template name="GalleryVisual">-->
    <!--<div class="panel-heading gallery-menu-base" id="gallery-visual-accordion" role="tab" data-toggle="collapse" data-parent="#gallery-menu-inner" href="#gallery-visual-inner" aria-expanded="true" aria-controls="gallery-visual-inner">-->
        <!--<div class="gallery-title-inner">-->
            <!--<h5>Football Field Controls</h5>-->
        <!--</div>-->
    <!--</div>-->
    <!--{{#if Template.subscriptionsReady}}-->
        <!--<div class="panel-collapse collapse in gallery-block" id="gallery-visual-inner" role="tabpanel">-->
            <!--<div class="{{themeStyle.borderShadedBottom}}" id="controls-details">-->
                <!--<div id="controls-details-inner">-->
                    <!--<div class="control-row">-->
                        <!--<div class="control-half-title left">-->
                            <!--Target (if any):-->
                        <!--</div>-->
                        <!--<div class="control-half-value right">-->
                            <!--{{targetName}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="control-row">-->
                        <!--<div class="control-half-title left">-->
                            <!--Football Name:-->
                        <!--</div>-->
                        <!--<div class="control-half-value right">-->
                            <!--{{footballName}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="{{themeStyle.borderShadedBottom}}" id="controls-top">-->
                <!--<div id="controls-top-inner">-->
                    <!--<div class="control-row">-->
                        <!--{{>FootballTarget}}-->
                    <!--</div>-->
                    <!--<div class="control-row">-->
                        <!--<div class="output-text control-scroll-half left">-->
                            <!--<p>Change Output Type</p>-->
                        <!--</div>-->
                        <!--<div class="control-scroll-half right">-->
                            <!--{{>FootballOutput}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="wrapper" id="controls-scroll">-->
                <!--<div id="controls-scroll-inner">-->
                    <!--<div class="wrapper control-row">-->
                        <!--<div class="control-scroll-half left">-->
                            <!--{{>FootballScale}}-->
                        <!--</div>-->
                        <!--<div class="control-scroll-half right">-->
                            <!--{{>FootballSort}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrapper control-row">-->
                        <!--<div class="control-scroll-half left">-->
                            <!--{{>FootballSpread}}-->
                        <!--</div>-->
                        <!--<div class="control-scroll-half right">-->
                            <!--{{>FootballCushion}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="wrapper control-row">-->
                        <!--<div class="control-scroll-half left">-->
                            <!--{{>FootballCurrentToggle}}-->
                        <!--</div>-->
                        <!--<div class="control-scroll-half right">-->
                            <!--{{>FootballTradingToggle}}-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="control-row-last">-->
                        <!--{{>FootballActions}}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--{{/if}}-->
<!--</template>-->