<!--User's coverage, including Football Fields, Targets and Valuations-->
<template name="GalleryCoverage">
    <div class="panel-heading gallery-menu-base" id="gallery-coverage-accordion" role="tab" data-toggle="collapse" data-parent="#gallery-menu-inner" href="#gallery-coverage-inner" aria-expanded="false" aria-controls="gallery-coverage-inner">
        <div class="gallery-title-inner">
            <h5>My Coverage</h5>
        </div>
    </div>
    <div class="panel-collapse collapse gallery-block" id="gallery-coverage-inner" role="tabpanel">
        <div class="gallery-block-menu">
            {{>CoverageMenu}}
        </div>
        <div class="gallery-block-items">
            {{>CoverageContent}}
        </div>
        <div class="gallery-block-controls">
            {{>CoverageControls}}
        </div>
    </div>
</template>